.subscribe-button {
    color: var(--colorTextButton);
    text-align: center;
    font-family: var(--fontTextPrimary);
    font-size: 14px;
    font-weight: 700;
    font-variant: all-small-caps;
    padding: 12px 38px;
    background-color: var(--colorTextTertiary);
}