:root {
    --colorTextPrimary: #333;
    --colorTextSecondary: #b6b6b6;
    --colorTextTertiary: #95e1d3;
    --colorHover: #f38181;
    --colorTextButton: #fff;
    /*Шрифти*/
    --fontTextPrimary: "Montserrat", sans-serif;
    --fontTextSecondary: "Roboto", sans-serif;
  }